:root {
  --league-dark-blue: rgb(6, 28, 37);
  --league-light-blue: #006680;
}

@font-face {
  font-family: 'champ-names';
  src: url(../fonts/NotoSerif-Italic.ttf);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style: none;
}

.app {
  min-height: 100vh;
  background-color: rgba(6, 28, 37, 0.30);
}

.instructions {
  top: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  background-image: url(../imgs/league-background.jpg);
  background-position: center;
  background-size: cover;
}

.instructions h1 {
  font-size: 3rem;
  text-shadow: 0 0 8px black, 0 0 20px black;
  color: white;
  text-decoration: underline;
}

.gameRules {
  max-width: 1200px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 16px;
  padding: 20px;
}

.gameRules p {
  font-size: 2rem;
}

.gameOver {
  top: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 80px;
  background-color: var(--league-dark-blue);
  color: white;
}

.gameOver h1 {
  font-size: 4rem;
  font-family: 'champ-names';
}

.finalScore {
  font-size: 2rem;
}

.finalScore span {
  font-size: 2rem;
  font-weight: bold;
}

.startGameBtn {
  padding: 15px 30px;
  font-size: 2rem;
  border: solid 1px white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--league-dark-blue);
  color: white;
  box-shadow: 0 0 8px black;
}

.startGameBtn:hover {
  background-color: var(--league-light-blue);
}


.newGameBtn {
  padding: 15px 30px;
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--league-light-blue);
  color: white;
  box-shadow: 0 0 8px black;
}

.newGameBtn:hover {
  background-color: white;
  color: var(--league-dark-blue);
  border: 1px solid white;
}

header {
  background-color: var(--league-dark-blue);
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

header h1 {
  font-size: 2rem;
  margin-right: 10px;
}

.currentRound {
  font-size: 1.5rem;
  margin: 0 10px;
}

.scoreboard {
  display: flex;
  margin-left: 10px;
  padding: 10px;
  background-color: var(--league-light-blue);
  border-radius: 8px;
  gap: 10px;
}

.currentScore,
.highScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.currentScore > p,
.highScore > p {
  text-decoration: underline;
}

.currentScore > div,
.highScore > div {
  font-weight: 700;
}

.scoreLine {
  border-left: 1px solid white;
}

main {
  padding: 10px 10px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.champCard {
  width: 225px;
  height: 285px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--league-dark-blue);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  border-radius: 8px;
  margin: 0 auto;
  user-select: none;
  -webkit-user-select: none;
}

.champImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 82%;
  pointer-events: none;
}

.champName {
  color: white;
  font-family: 'champ-names';
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
  height: 18%;
  padding: 4% 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.6);
  white-space: nowrap;
}

.champCard:hover {
  background-color: var(--league-light-blue);
  cursor: pointer;
  box-shadow: 0 0 8px black;
  font-weight: 700;
}

.loadingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 5vw;
}

.loader {
  border: 12px solid white;
  border-top: 12px solid #3498db;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}